[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = ">=4.1.0"
pillow = "==8.4.0"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
test = 'python example.py'
